@model ModSettings

<table class="table table-bordered">
	<thead class="table-dark">
		<tr>
			<th scope="col">Platz</th>
			<th scope="col">Steam-Id</th>
			<th scope="col">Package-Id</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var modelAllowedMod in Model.AllowedMods)
		{
			<tr>
				<td class="modrow">
					@modelAllowedMod.LoadOrder
				</td>
				<td class="modrow">
					@modelAllowedMod.SteamId
				</td>
				<td class="modrow">
					@modelAllowedMod.PackageId
				</td>
				<td class="modrow">
					@if (modelAllowedMod.LoadOrder != 1)
					{
						<form asp-page-handler="EditOrder" method="Post" style="display: inline">
							<input hidden="" name="originalLoadOrder" value="@(modelAllowedMod.LoadOrder)" />
							<input hidden="" name="loadOrder" value="@(modelAllowedMod.LoadOrder - 1)" />
							<button type="submit" class="btn" value="submit request">Hoch</button>
						</form>
					}
					@if (modelAllowedMod.LoadOrder != Model.MaximumLoadOrder)
					{
						<form asp-page-handler="EditOrder" method="Post" style="display: inline">
							<input hidden="" name="originalLoadOrder" value="@(modelAllowedMod.LoadOrder)" />
							<input hidden="" name="loadOrder" value="@(modelAllowedMod.LoadOrder + 1)" />
							<button type="submit" class="btn" value="submit request">Runter</button>
						</form>
					}
					<form asp-page-handler="DeleteMod" method="Post" style="display: inline">
						<input hidden="" name="packageId" value="@modelAllowedMod.PackageId" />
						<input hidden="" name="steamId" value="@modelAllowedMod.SteamId" />
						<button type="submit" class="btn" value="submit request" onclick="return window.confirm(`Do you really want to remove the mod: @modelAllowedMod.PackageId`)">Löschen</button>
					</form>
				</td>
			</tr>
		}
		<tr>
			<form asp-page-handler="Mod" method="post">
			<td class="modrow">
					@(Model.MaximumLoadOrder + 1)
				<input hidden="" id="loadOrder" name="loadOrder" value="@(Model.MaximumLoadOrder + 1)" />
			</td>
			<td class="modrow">
				<input id="steamId" name="steamId" type="number" />
			</td>
			<td class="modrow">
				<input id="packageId" name="packageId" type="text" />
			</td>
			<td class="modrow">
				<button type="submit" class="btn" value="submit request">Hinzufügen</button>
			</td>
			</form>
		</tr>
	</tbody>
</table>