@page "{SettingId?}"
@model RimionshipServer.Pages.Admin.CreateNewSetting

@{
    ViewData["Title"] = "Create new Setting";
}

<div class="text-center">
    <form method="post">
        <h2>@nameof(MiscSettings.Settings)</h2><br/>
        <label asp-for="Settings.Name"></label> <br/>
        <input asp-for="Settings.Name"/> <br/>
        <br/> <h3>@nameof(MiscSettings.Punishment)</h3><br/>
        <label>MaxCooldownFactor</label> <br/>
        <input asp-for="Settings.Punishment.StartPauseInterval"/> <br/>
        <label>CooldownPawnCap</label> <br/>
        <input asp-for="Settings.Punishment.FinalPauseInterval"/> <br/>
        <label asp-for="Settings.Punishment.MinThoughtFactor"></label> <br/>
        <input asp-for="Settings.Punishment.MinThoughtFactor"/> <br/>
        <label asp-for="Settings.Punishment.MaxThoughtFactor"></label> <br/>
        <input asp-for="Settings.Punishment.MaxThoughtFactor"/> <br/>
        
        <br/> <h3>@nameof(MiscSettings.Rising)</h3><br/>
        <label asp-for="Settings.Rising.RisingCooldown"></label> <br/>
        <input asp-for="Settings.Rising.RisingCooldown"/> <br/>
        <label asp-for="Settings.Rising.RisingInterval"></label> <br/>
        <input asp-for="Settings.Rising.RisingInterval"/> <br/>
        <label asp-for="Settings.Rising.RisingIntervalMinimum"></label> <br/>
        <input asp-for="Settings.Rising.RisingIntervalMinimum"/> <br/>
        <label asp-for="Settings.Rising.MaxFreeColonistCount"></label> <br/>
        <input asp-for="Settings.Rising.MaxFreeColonistCount"/> <br/>
        <label asp-for="Settings.Rising.RisingReductionPerColonist"></label> <br/>
        <input asp-for="Settings.Rising.RisingReductionPerColonist"/> <br/>
        
         <br/><h3>@nameof(MiscSettings.Traits)</h3><br/>
        <label asp-for="Settings.Traits.ScaleFactor"></label> <br/>
        <input asp-for="Settings.Traits.ScaleFactor"/> <br/>
        <label asp-for="Settings.Traits.GoodTraitSuppression"></label> <br/>
        <input asp-for="Settings.Traits.GoodTraitSuppression"/> <br/>
        <label asp-for="Settings.Traits.BadTraitSuppression"></label> <br/>
        <input asp-for="Settings.Traits.BadTraitSuppression"/> <br/>
        <label asp-for="Settings.Traits.MaxMeleeFlames"></label> <br/>
        <input asp-for="Settings.Traits.MaxMeleeFlames"/> <br/>
        <label asp-for="Settings.Traits.MaxMeleeSkill"></label> <br/>
        <input asp-for="Settings.Traits.MaxMeleeSkill"/> <br/>
        <label asp-for="Settings.Traits.MaxShootingFlames"></label> <br/>
        <input asp-for="Settings.Traits.MaxShootingFlames"/> <br/>
        <label asp-for="Settings.Traits.MaxShootingSkill"></label> <br/>
        <input asp-for="Settings.Traits.MaxShootingSkill"/> <br/>
        
        <button asp-page-handler="Create" class="btn btn-outline-dark" type="submit" style="margin-top: 1%">
            @(string.IsNullOrWhiteSpace(Model.Settings.Name) ? "Add Setting" : "Update Setting")
        </button>
        @if (!string.IsNullOrWhiteSpace(Model.Settings.Name) && Model.Settings.Id != 1)
        {
            <button asp-page-handler="Delete" class="btn btn-outline-dark" onclick="return window.confirm(`Do you really want to delete @Model.Settings.Name?`); " type="submit" style="margin-top: 1%">Delete Setting</button>
        }
        
        <input asp-for="Settings.Id" hidden=""/>
        <input asp-for="Settings.Punishment.Id" hidden=""/>
        <input asp-for="Settings.Traits.Id" hidden=""/>
        <input asp-for="Settings.Rising.Id" hidden=""/>
    </form>
</div>