@page "{graphId?}"
@model RimionshipServer.Pages.Admin.GraphConfigurator

@{
	ViewData["Title"] = "Graphen";
}
@section Css
{
@{
#if DEBUG
}
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/tabs.css">
@{
#else
}
    <link rel="stylesheet" href="/css/admin.min.css">
    <link rel="stylesheet" href="/css/tabs.min.css">
@{
#endif
}
}
@section Scripts
{

@{
#if DEBUG
}
    @if (!Model.Done)
    {
        <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
    }
@{
#else
}
    @if (!Model.Done)
    {
        <script type="text/javascript" src="~/js/site.min.js" asp-append-version="true"></script>
    }
@{
#endif
}
    <script type="text/javascript">
            const links = document.getElementsByTagName("a");
            for (let i = 0; i < links.length; i++) {
                 if (links[i].innerHTML === "!will be replaced by js!")
                     links[i].innerHTML = links[i].href;
            }
    </script>
}
	<div>
		<h1>@ViewData["Title"]</h1>
	@if (Model.Done)
	{
		<a id="done" href="/API/SimpleGraph/@Model.AccessCode">!will be replaced by js!</a>
		<br />
		<br />
		<a class="btn btn-outline-dark" id="back" asp-page="GraphConfigurator">Back to Graph Configurator</a>
	}
	else
	{
		<div class="tabbed">
			<input checked="checked" id="tab1" type="radio" name="tabs" />
			<input id="tab2" type="radio" name="tabs" />
			<input id="tab3" type="radio" name="tabs" />
			<input id="tab4" type="radio" name="tabs" />
            <input id="tab5" type="radio" name="tabs" />
            <input id="tab6" type="radio" name="tabs" />
			<nav>
				<label for="tab1">Sortiert nach ausgewähltem Wert</label>
				<label for="tab2">Sortiert nach Tournamentplatz</label>
				<label for="tab3">Komplexe Graphen</label>
                <label for="tab4">Alle Graphen</label>
                <label for="tab5">Rotation Erzeugen</label>
                <label for="tab6">Alle Rotationen</label>
			</nav>
			<figure>
				<div class="input-group tab1">
					<form method="post">
						<table cellpadding="8">
							<tr>
								<td>Name des Graphen<span asp-validation-for="AccessCode" class="text-danger"></span></td>
								<td>@Html.TextBoxFor(x => x.AccessCode)</td>
							</tr>
							<tr>
								<td>Dargestellter Wert</td>
								<td>@Html.DropDownListFor(x => x.Statt, Model.StattSelectListItems)</td>
							</tr>
                            <tr>
                                <td>Zeitraum</td>
                                <td>Letzten <select asp-for="LastTime">
                                    <option selected="@(Model.LastTime == "1")" value="@(1 * 60)">1</option>
                                    <option selected="@(Model.LastTime == "5")" value="@(5 * 60)">5</option>
                                    <option selected="@(Model.LastTime == "10")" value="@(10 * 60)">10</option>
                                    <option selected="@(Model.LastTime == "30")" value="@(30 * 60)">30</option>
                                    <option selected="@(Model.LastTime == "60")" value="@(60 * 60)">60</option>
                                    <option selected="@(Model.LastTime == "120")" value="@(120 * 60)">120</option>
                                    <option selected="@(Model.LastTime == "240")" value="@(240 * 60)">240</option>
                                    <option selected="@(Model.LastTime == "" + 365 * 24 * 60)" value="@(365 * 24 * 60 * 60)">All</option>
                                </select> Minuten</td>
                            </tr>
							<tr>
								<td>Anzahl</td>
								<td>@Html.TextBoxFor(x => x.CountUser, new { @class = "pmtallocated pull-right" , @dir = "rtl" }) Teilnehmer</td>
							</tr>
							<tr>
								<td>Aktualisierung</td>
								<td>@Html.CheckBoxFor(x => x.Autorefresh) Automatisch</td>
							</tr>
						</table>
                        <button asp-page-handler="CreateTop10" class="btn btn-outline-dark" type="submit" style="margin-top: 1%">Graph erzeugen</button>
                        <input hidden="" asp-for="IntervalSeconds" value="10"/>
					</form>
				</div>
				<div class="input-group tab2">
                    <form method="post">
                        <table cellpadding="8">
                            <tr>
                                <td>Name des Graphen<span asp-validation-for="AccessCode" class="text-danger"></span></td>
                                <td>@Html.TextBoxFor(x => x.AccessCode)</td>
                            </tr>
                            <tr>
                                <td>Dargestellter Wert</td>
                                <td>@Html.DropDownListFor(x => x.Statt, Model.StattSelectListItems)</td>
                            </tr>
                            <tr>
                                <td>Zeitraum</td>
                                <td>Letzten <select asp-for="LastTime">
                                    <option selected="@(Model.LastTime == "1")" value="@(1 * 60)">1</option>
                                    <option selected="@(Model.LastTime == "5")" value="@(5 * 60)">5</option>
                                    <option selected="@(Model.LastTime == "10")" value="@(10 * 60)">10</option>
                                    <option selected="@(Model.LastTime == "30")" value="@(30 * 60)">30</option>
                                    <option selected="@(Model.LastTime == "60")" value="@(60 * 60)">60</option>
                                    <option selected="@(Model.LastTime == "120")" value="@(120 * 60)">120</option>
                                    <option selected="@(Model.LastTime == "240")" value="@(240 * 60)">240</option>
                                    <option selected="@(Model.LastTime == "" + 365 * 24 * 60)" value="@(365 * 24 * 60 * 60)">All</option>
                                </select> Minuten</td>
                            </tr>
                            <tr>
                                <td>Anzahl</td>
                                <td>@Html.TextBoxFor(x => x.CountUser, new { @class = "pmtallocated pull-right" , @dir = "rtl" }) Teilnehmer</td>
                            </tr>
                            <tr>
                                <td>Aktualisierung</td>
                                <td>@Html.CheckBoxFor(x => x.Autorefresh) Automatisch</td>
                            </tr>
                        </table>
                        <button asp-page-handler="CreateTop10Wealth" class="btn btn-outline-dark" type="submit" style="margin-top: 1%">Graph erzeugen</button>
                        <input hidden="" asp-for="IntervalSeconds" value="10"/>
                    </form>
				</div>
				<div class="input-group tab3">
					<form method="post">
						<table cellpadding="8">
							<tr>
								<td>Name des Graphen<span asp-validation-for="AccessCode" class="text-danger"></span></td>
								<td>@Html.TextBoxFor(x => x.AccessCode)</td>
							</tr>
							<tr>
								<td>Dargestellter Wert</td>
								<td>@Html.DropDownListFor(x => x.Statt, Model.StattSelectListItems)</td>
							</tr>
							<tr>
								<td>Start</td>
								<td><input type="datetime-local" class="text-box single-line" asp-for="Start" value="@(Model.Start == default ? GraphConfigurator.NowNoSeconds() : Model.Start.ToString("yyyy-MM-dd HH:mm"))" asp-format="{0:yyyy-MM-dd HH:mm}" /></td>
							</tr>
							<tr>
								<td>Ende</td>
								<td><input type="datetime-local" class="text-box single-line" asp-for="End" value="@(Model.End == default ? GraphConfigurator.NowNoSeconds() : Model.End.ToString("yyyy-MM-dd HH:mm"))" asp-format="{0:yyyy-MM-dd HH:mm}" /></td>
							</tr>
							<tr>
								<td>Intervall</td>
								<td>@Html.EditorFor(x => x.IntervalSeconds) Sekunden</td>
							</tr>
							<tr style="vertical-align: top;">
								<td>Spieler (@Model.UserSelectListItems.Count)</td>
                                <td>
                                    <table cellpadding="8">
                                        <tr style="vertical-align: top;">
                                            @{
                                                var all = Model.UserSelectListItems.Count; // 103
                                                var count = 0;
                                            }
                                            @for (var col = 0; col < 5; col++)
                                            {
                                                <td>
                                                    @{
                                                        var rows = (all - count + 4 - col) / (5 - col);
                                                    }
                                                    @for (var row = 0; row < rows; row++)
                                                    {
                                                        <input asp-for="@Model.AllUserSelects[count]" type="checkbox"/>
                                                        <label>@Model.UserSelectListItems[count++].Name</label><br/>
                                                    }
                                                </td>
                                            }
                                        </tr>
                                    </table>
                                </td>
							</tr>
							<tr>
								<td>Mitrollen</td>
								<td>@Html.CheckBoxFor(x => x.Autorefresh) Interval immer von 'jetzt' anzeigen</td>
							</tr>
						</table>
						<button asp-page-handler="CreateAdvanced" class="btn btn-outline-dark" type="submit" style="margin-top: 1%">Graph erzeugen</button>
					</form>
				</div>
                <div class="input-group tab4">
                    <partial name="_GraphList" model=Model></partial>
                </div>
                <div class="input-group tab5">
                    <form method="post">
                        <label>Name der Rotation</label>
                        <input asp-for="AccessCode"/>
                        <br/>
                        <label>Dauer der Rotation in Sekunden</label>
                        <input asp-for="IntervalSeconds"/>
                        <br/>
                        @for (var index = 0; index < Model.AllGraphs.Count; index++)
                        {
                            var index1 = index;
                            <label>@Model.AllGraphs[index1].Accesscode</label>
                            <input asp-for="@Model.AllGraphsSelects[index1]" type="checkbox"/>
                            if ((index + 1) % 6 == 0)
                            {
                                <br/>
                            }
                        }
                        <br/>
                        <button asp-page-handler="CreateRotation" class="btn btn-outline-dark" type="submit" style="margin-top: 1%">Graphrotation erzeugen</button>
                    </form>
                </div>
                <div class="input-group tab6">
                       <partial name="_RotationList" model=Model></partial>
                </div>
			</figure>
		</div>
	}
</div>