@page "{pageNo?}"
@model RimionshipServer.Pages.Admin.Manage

@{
	ViewData["Title"] = "Manage";
}

@section Scripts {
@{
#if DEBUG
}
    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
@{
#else
}
    <script type="text/javascript" src="~/js/site.min.js" asp-append-version="true"></script>
@{
#endif
}
}
@section Css {
@{
#if DEBUG
}
    <link rel="stylesheet" href="/css/admin.css">
@{
#else
}
    <link rel="stylesheet" href="/css/admin.min.css">
@{
#endif
}
}

	<header>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="container">
						<div class="row">
						@for (var i = 0; i < Model.Pages; i++)
						{
							<div class="col flex-grow-0" style="padding: unset;">
								<a class="btn btn-outline-dark" href="~/Admin/Manage?pageNo=@i" style="padding: 6px">@(i + 1)</a>
							</div>
						}
					</div>
				</div>
			</div>
			<div class="col-3">
				<form asp-page-handler="Search" method="post">
					<div class="input-group mb-3">
						<input name="searchKey" type="text" style="margin-right: 0.5rem" />
						<div class="input-group-prepend">
							<button class="btn btn-outline-dark form-control" type="submit">Search</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</header>

<div class="text-center">
	<table class="table table-bordered">
		<thead class="table-dark">
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Bannstatus</th>
				<th scope="col">Adminstatus</th>
				<th scope="col">Livestream</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var user in Model.Users)
			{
				var isAdmin = user.Role.Contains(Roles.Admin);
				var classs = isAdmin ? "admin" : user.WasBanned ? "banned" : "bg-default";
				<tr class="userrow @classs">
					<td class="userrow">
						<span title="@user.Id">@user.UserName</span>
					</td>
					<td class="userrow">
						@if (user.Role.Count == 0)
						{
							@if (user.WasBanned)
							{
								<form asp-page-handler="Ban" method="post">
									<input hidden="" name="id" value="@user.Id">
									<input hidden="" name="ban" value="false">
									<button type="submit" class="btn" value="submit request" onclick="return window.confirm(`Wirklich @user.UserName wiederherstellen?`)">Wiederherstellen</button>
								</form>
							}
							else
							{
								<form asp-page-handler="Ban" method="post">
									<input hidden="" name="id" value="@user.Id">
									<input hidden="" name="ban" value="true">
									<button type="submit" class="btn" value="submit request" onclick="return window.confirm(`Wirklich @user.UserName bannen?`)">Bannen</button>
								</form>
							}
						}
					</td>
					<td class="userrow">
						@{
							var confirmText = isAdmin ? $"Wirklich {user.UserName} als Admin entfernen?" : $"Wirklich {user.UserName} zum Admin machen?";
						}
						<form asp-page-handler="Promote" method="post">
							<input hidden="" name="id" value="@user.Id">
							<button type="submit" class="btn" value="submit request" onclick="return window.confirm('@confirmText')">
								@(isAdmin ? "Admin entfernen" : "Zum Admin machen")
							</button>
						</form>
					</td>
					<td class="userrow">
						<form asp-page-handler="SwitchStream" method="post">
							<input hidden="" name="id" value="@user.Id">
							<button type="submit" class="btn" value="submit request">Stream öffnen</button>
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>