@page
@model RimionshipServer.Pages.Admin.ModSettings

@{
    ViewData["Title"] = "Mod Settings";
}
@section Scripts
{
    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
    <script>
        const editBtn = document.getElementById("editBtn");
        const select = document.getElementById("ActiveSetting"); 
        function reroute() 
        {
            location.href = "@Url.PageLink("CreateNewSetting")" + "?SettingId=" + select.options[select.selectedIndex].value;
        }
        editBtn.onclick = reroute;
    </script>
}
@section Css 
{
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/tabs.css">
}
<div class="text-center">
    <h1>Mod Settings</h1>
    <div class="tabbed">
        <input checked="checked" id="tab1" type="radio" name="tabs" />
        <input id="tab2" type="radio" name="tabs" />
        <input id="tab3" type="radio" name="tabs" />
    
        <nav>
            <label for="tab1">Broadcast Message</label>
            <label for="tab2">Allowed Mods</label>
            <label for="tab3">Game Settings</label>
        </nav>
       
        <figure>
            <div class="tab1">
                <form asp-page-handler="Motd" method="post">
                    <div class="input-group mb-3 justify-content-center">
                        <input name="motd" type="text" style="margin-right: 1%; width: 84%;" placeholder="@Model.Motd"/>
                        <div class="input-group-prepend" style="width: 15%;">
                            <button class="btn btn-outline-dark form-control" type="submit">Set Broadcast Message</button>
                        </div>
                    </div>
                </form>
                <form asp-page-handler="Game" method="post">
                    <div class="justify-content-center">
                        <div class="input-group justify-content-center align-items-center">
                            <div>
                                <div class="input-group">
                                    <label class="m-2 form-label">@nameof(Model.PlannedStartHour)</label>
                                    @Html.TextBoxFor(x => x.PlannedStartHour, new{@class = "m-2 form-control"})
                                </div>
                                <div class="input-group">
                                    <label class="m-2 form-label">@nameof(Model.PlannedStartMinute)</label>
                                    @Html.TextBoxFor(x => x.PlannedStartMinute, new{@class = "m-2 form-control"})
                                </div>
                                <div class="input-group">
                                    <label class="m-2 form-label">@nameof(Model.GameState)</label>
                                    @Html.DropDownListFor(x => x.GameState, new[]{
                                                                                     new SelectListItem("STOPPED", "0", Model.GameState == 0),
                                                                                     new SelectListItem("TRAINING", "1", Model.GameState == 1),
                                                                                     new SelectListItem("PREPARE", "2", Model.GameState == 2),
                                                                                     new SelectListItem("STARTED", "3", Model.GameState == 3),
                                                                                     new SelectListItem("COMPLETED", "4", Model.GameState == 4)
                                                                                 }, new{@class = "m-2 form-control"})
                                </div>
                            </div>
                            <div class="input-group-prepend justify-content-center align-items-center" style="width: 15%;">
                                <button class="btn btn-outline-dark form-control" type="submit">Set Game Data</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab2">
                <partial name="_ModList" model=Model></partial> </div>
            <div class="tab3">
                <form asp-page-handler="Setting" method="post">
                    <div class="input-group mb-3 justify-content-center">
                        <div style="margin-right: 1%;">
                            <div>Currently Active: @Model.ActiveSetting</div>
                            @Html.DropDownListFor(x => x.ActiveSetting, Model.SettingsSelect)
                        </div>
                        <div class="input-group-prepend" style="width: 15%;">
                            <button class="btn btn-outline-dark form-control" type="submit">Select Active Setting</button>
                            <div style="margin-top: 2%">
                                <a id="editBtn" class="btn btn-outline-dark form-control" href="#">Edit Selected Setting</a>
                            </div>
                        </div>
                    </div>
                </form>
                <form asp-page-handler="DeleteAll" method="post">
                    <button class="btn btn-danger form-control" type="submit">DELETE ALL HISTORY DATA</button>
                </form>
            </div>
        </figure>
    </div>
</div>