@page
@using RimionshipServer.Pages.Api
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RimionshipServer.Pages.Admin.ModSettings

@{
    ViewData["Title"] = "Mod Settings";
}
@section Scripts
{
    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
    <script>
        const editBtn = document.getElementById("editBtn");
        const select = document.getElementById("ActiveSetting"); 
        function reroute() 
        {
            location.href = "@Url.PageLink("CreateNewSetting")" + "?SettingId=" + select.options[select.selectedIndex].value;
        }
        editBtn.onclick = reroute;
    </script>
}
@section Css 
{
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/tabs.css">
}
<div class="text-center">
    <h1>Mod Settings</h1>
    @Html.ValidationMessageFor(x => x.Upload,  null,new {@Class = "alert-danger"})
    <div class="tabbed">
        <input checked="checked" id="tab1" type="radio" name="tabs"/>
        <input id="tab2" type="radio" name="tabs"/>
        <input id="tab3" type="radio" name="tabs"/>
        <input id="tab4" type="radio" name="tabs"/>

        <nav>
            <label for="tab1">Broadcast Message</label>
            <label for="tab2">Allowed Mods</label>
            <label for="tab3">Game Settings</label>
            <label for="tab4">Safe File Settings</label>
        </nav>

        <figure>
            <div class="tab1">
                <partial name="_GeneralSettings" model=Model></partial>
            </div>
            <div class="tab2">
                <partial name="_ModList" model=Model></partial>
            </div>
            <div class="tab3">
                <form asp-page-handler="Setting" method="post">
                    <div class="input-group mb-3 justify-content-center">
                        <div style="margin-right: 1%;">
                            <div>Currently Active: @Model.ActiveSetting</div>
                            @Html.DropDownListFor(x => x.ActiveSetting, Model.SettingsSelect)
                        </div>
                        <div class="input-group-prepend" style="width: 15%;">
                            <button class="btn btn-outline-dark form-control" type="submit">Select Active Setting</button>
                            <div style="margin-top: 2%">
                                <a id="editBtn" class="btn btn-outline-dark form-control" href="#">Edit Selected Setting</a>
                            </div>
                        </div>
                    </div>
                </form>
                <form asp-page-handler="DeleteAll" method="post">
                    <button class="btn btn-danger form-control" type="submit">DELETE ALL HISTORY DATA</button>
                </form>
            </div>
            <div class="tab4">
                <h3>Select Safe File</h3>
                <label>Currently Active: @(SaveFilePageModel.SafeFile?.Name ?? "None")</label>
                <form method="post" asp-page-handler="FileSelect">
                    <div class="input-group mb-3 justify-content-center">
                        <label class="m-2 form-label">Select Safe File</label>
                        @Html.DropDownListFor(x => x.SaveFileId, Model.SaveFileSelect)
                        <input type="submit"/>
                    </div>
                </form>
                <h3>Upload</h3>
                <form method="post" enctype="multipart/form-data" asp-page-handler="Upload">
                    <div class="input-group mb-3 justify-content-center">
                        <label class="m-2 form-label">Safe File</label>
                        <input type="file" asp-for="Upload"/>
                        <input type="submit"/>
                    </div>
                </form>
            </div>
        </figure>
    </div>
</div>